@use "../../../_system/_styles/_mixins.scss";
@use "../../../_system/_styles/_theme-material.scss" as *;

.schedule {
  width: 100%;
  padding-top: 78px;
  margin-bottom: 18px;
  background-color: $primary;

  &__container {
    max-width: 1216px;
    width: 100%;
    height: 818px;
    gap: 0 40px;
    margin: 18px auto 0;
    padding: 0 40px;
    @include mixins.flex(row, flex-start, flex-start);
  }

  &__sidebar {
    max-width: 340px;
    width: 100%;
    height: 100%;
    gap: 20px 0;
    padding: 12px 18px;
    @include mixins.flex(column, flex-start, flex-start);
    @include mixins.box-style(1px solid $white, 10px, $white);

    &-heading {
      gap: 30px 0;
      width: 100%;
      height: 100%;
      @include mixins.flex(column, flex-start, flex-start);
    }

    &-title {
      width: 100%;
      line-height: 28px;
      text-align: center;
      @include mixins.fonts-text($manrope-bold, 24px, $darkgray);
    }

    &-subtitle {
      width: 100%;
      line-height: 26px;
      text-align: center;
      @include mixins.fonts-text($manrope-bold, 22px, $darkgray);
    }

    &-steps {
      gap: 10px 0;
      @include mixins.flex(column, flex-start, flex-start);
    }

    &-step {
      span {
        margin-right: 5px;
        @include mixins.fonts-text($manrope-bold, 16px, $darkgray);
      }

      letter-spacing: -0.35px;
      @include mixins.fonts-text($manrope-medium, 16px, $darkgray);
    }

    &-button {
      width: 100%;
      cursor: pointer;
      margin-top: auto;
      padding: 10px 8px;
      @include mixins.fonts-text($manrope-bold, 16px, $darkgray);
      @include mixins.box-style(1px solid $primary, 10px, $primary);
    }

    &-button:hover {
      @include mixins.box-style(1px solid $secondary, 10px, $primary);
    }
  }

  &__controls {
    width: 100%;
    gap: 20px 0;
    @include mixins.flex(column, flex-start, flex-start);
  }

  &__filters, &__courses {
    width: 100%;
    gap: 10px 0;
    @include mixins.flex(column, flex-start, center);

    &-text {
      line-height: 28px;
      text-align: center;
      @include mixins.fonts-text($manrope-bold, 24px, $darkgray);
    }

    &-list {
      width: 100%;
      height: 44px;
      cursor: pointer;
      position: relative;
      @include mixins.flex(column, flex-start, flex-start);
    }

    &-dropdown {
      width: 100%;
      position: static;
      @include mixins.flex(column, flex-start, center);
      @include mixins.box-style(1px solid $secondary, 10px, $primary);
    }

    &-selected {
      width: 100%;
      text-align: center;
      padding: 10px 8px;
      @include mixins.fonts-text($manrope-bold, 16px, $darkgray);
    }

    &-image {
      width: 12px;
      height: 12px;
      position: absolute;
      top: calc((100% - 12px)/2);
      right: 20px;
    }

    &-icon {
      width: 100%;
      height: 100%;
    }

    &-menu {
      width: 100%;
      padding: 10px 8px;
      border-top: 2px solid $gray;
      @include mixins.flex(column, flex-start, center);
    }

    &-button {
      width: 100%;
      cursor: pointer;
      padding: 10px 8px;
      @include mixins.fonts-text($manrope-bold, 16px, $darkgray);
      @include mixins.box-style(1px solid transparent, 10px, transparent);
    }

    &-button:hover {
      @include mixins.box-style(1px solid $secondary, 10px, $white);
    }
  }

  &__courses-dropdown {
    z-index: 1;
  }

  &__filters-dropdown {
    z-index: 2;
  }

  &__modules {
    width: 100%;
    gap: 10px 0;
    @include mixins.flex(column, flex-start, center);

    &-text {
      line-height: 28px;
      text-align: center;
      @include mixins.fonts-text($manrope-bold, 24px, $darkgray);
    }

    &-list {
      gap: 10px 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
    }

    &-button {
      width: 100%;
      cursor: pointer;
      padding: 10px 8px;
      @include mixins.fonts-text($manrope-bold, 16px, $darkgray);
      @include mixins.box-style(1px solid $primary, 10px, $primary);

      &-active {
        border-bottom: 2px solid $secondary;
      }
    }
  }

  &__content {
    max-width: calc(100% - (340px + 40px));
    width: 100%;
    height: 100%;
    padding: 12px 18px;
    gap: 10px 0;
    @include mixins.flex(column, flex-start, flex-start);
    @include mixins.box-style(1px solid $white, 10px, $white);

    &-heading {
      line-height: 28px;
      @include mixins.fonts-text($manrope-bold, 24px, $darkgray);
    }

    &-text {
      line-height: 24px;
      @include mixins.fonts-text($manrope-semibold, 20px, $darkgray);
    }
  }

  &__list {
    width: 100%;
    gap: 20px 0;
    @include mixins.flex(column, flex-end, flex-start);
  }

  &__pagination {
    width: 100%;
    gap: 0 10px;
    margin-top: auto;
    @include mixins.flex(row, center, flex-start);

    &-button {
      cursor: pointer;
      padding: 5px 10px;
      @include mixins.fonts-text($manrope-bold, 14px, $darkgray);
      @include mixins.box-style(2px solid $primary, 8px, $primary);
    }

    &-active {
      border-bottom: 2px solid $secondary;
    }
  }

  &__width {
    width: 100%;
  }

  @media (max-width: $media-xl) {
    &__container {
      height: fit-content;
      gap: 20px 0;
      padding: 20px 30px;
      @include mixins.flex(column, flex-start, flex-start);
    }

    &__sidebar {
      gap: 0 20px;
      max-width: 964px;
      height: fit-content;
      @include mixins.flex(row, flex-start, flex-start);

      &-steps {
        gap: 35px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }

      &-step {
        text-align: justify;
      }

      &-step:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
      }

      &-step:nth-child(2) {
        grid-column: 2;
        grid-row: 2;
      }

      &-step:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
      }

      &-step:nth-child(4) {
        grid-column: 2;
        grid-row: 4;
      }
    }

    &__controls {
      gap: 25px 0;
    }

    &__content {
      max-width: 964px;
      min-height: 818px;

      &-hidden {
        display: none;
      }
    }
  }

  @media (max-width: $media-lg) {
    &__container {
      padding: 20px 20px;
    }

    &__sidebar {
      &-title {
        line-height: 24px;
        @include mixins.fonts-text($manrope-bold, 20px, $darkgray);
      }

      &-subtitle {
        line-height: 22px;
        @include mixins.fonts-text($manrope-bold, 18px, $darkgray);
      }

      &-steps {
        gap: 20px;
      }
    }

    &__filters, &__courses {
      &-text {
        line-height: 24px;
        @include mixins.fonts-text($manrope-bold, 20px, $darkgray);
      }
    }

    &__modules {
      &-text {
        line-height: 24px;
        @include mixins.fonts-text($manrope-bold, 20px, $darkgray);
      }
    }

    &__content {
      &-heading {
        line-height: 24px;
        @include mixins.fonts-text($manrope-bold, 20px, $darkgray);
      }

      &-text {
        line-height: 20px;
        @include mixins.fonts-text($manrope-semibold, 16px, $darkgray);
      }
    }
  }

  @media (max-width: $media-md) {
    &__sidebar {
      gap: 20px 0;
      @include mixins.flex(column, flex-start, flex-start);

      &-steps {
        gap: 25px 0;
        @include mixins.flex(column, flex-start, flex-start);
      }

      &-step {
        span {
          @include mixins.fonts-text($manrope-bold, 14px, $darkgray);
        }

        @include mixins.fonts-text($manrope-medium, 14px, $darkgray);
      }
    }

    &__controls {
      gap: 20px 0;
    }

    &__filters, &__courses {
      &-list {
        height: 30px;
      }

      &-selected {
        padding: 5px 4px;
        @include mixins.fonts-text($manrope-bold, 14px, $darkgray);
      }

      &-menu {
        padding: 5px 4px;
      }

      &-button {
        padding: 5px 4px;
        @include mixins.fonts-text($manrope-bold, 14px, $darkgray);
      }
    }

    &__modules {
      &-list {
        grid-template-columns: 1fr;

        > *:nth-last-child(1):nth-child(odd) {
          grid-column: span 1;
        }
      }

      &-button {
        padding: 5px 4px;
        @include mixins.fonts-text($manrope-bold, 14px, $darkgray);
      }
    }

    &__content {
      min-height: 821px;
    }
  }

  @media (max-width: $media-sm) {
    &__container {
      padding: 20px 10px;
    }

    &__sidebar {
      &-steps {
        gap: 15px 0;
        @include mixins.flex(column, flex-start, flex-start);
      }
    }
  }
}
