@use "../../../_system/_styles/_mixins.scss";
@use "../../../_system/_styles/_theme-material.scss" as *;

.tutor__card {
  width: 100%;
  gap: 24px 0;
  @include mixins.flex(column, flex-start, center);

  &-image {
    width: 100%;
  }

  &-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: top center;
  }

  &-description {
    gap: 16px 0;
    @include mixins.flex(column, flex-start, center);
  }

  &-name {
    line-height: 22px;
    letter-spacing: -0.96px;
    @include mixins.fonts-text($manrope-bold, 24px, $black);
  }

  &-role {
    text-align: center;
    line-height: 24px;
    @include mixins.fonts-text($manrope-medium, 16px, $black);
  }
}
